.services {
  background-color: #1a1a1d;
  height: calc(100vh - 128px);
  display: flex;
  align-items: center;
  .wrapper {
    height: 500px;
    min-height: 500px;
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 52px;
    padding: 12px;
  }
}


@media screen and (max-width: 768px) {
  .services {
    height: calc(100vh - 64px);
    .wrapper {
      grid-template-columns: 1fr;
    }
  }
}