.area {
    .title {
      font-size: 38px;
      font-weight: normal;
      color: #fff;
      margin-bottom: 24px;
      letter-spacing: 6px;
    }
    .desc {
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      letter-spacing: 2px;
      line-height: 24px;
    }
  }