* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Major Mono Display", monospace;
  /* font-family: "VT323", monospace; */
  /* font-family: "Kode Mono", monospace; */
  /* font-family: "Syne Mono", monospace; */
}

